/* .product {
} */
.product_inner {
  padding-top: 48px;
  padding-bottom: 70px;
}

.card_list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card_paragraph {
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;

}