@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1572px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.template_inner {
  padding-top: 70px;
  padding-bottom: 70px;
}
.template_paragraph {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 24px;
}
.template_list {
  padding-left: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
